.StartScreen {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Players {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.GridSetup {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.GridSize {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 16px;
	background-color: #ccc;
	border: none;
	height: 48px;
	width: 48px;
	font-size: 48px;
	text-align: center;
	border-radius: 16px;
}

.Button {
	display: flex;
	border: none;
	width: 128px;
	height: 64px;
	margin: 16px;
	border-radius: 8px;
	font-size: 24px;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
}

.GridButton {
	display: flex;
	border: none;
	width: 48px;
	height: 48px;
	margin: 16px;
	border-radius: 8px;
	font-size: 28px;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #333;
}

.StartButton {
	display: flex;
	border: none;
	width: 128px;
	height: 96px;
	margin: 16px;
	border-radius: 8px;
	font-size: 24px;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #fc4d3c;
}

h2 {
	font-size: 24px;
	font-weight: 600;
	color: #fc4d3c;
}
