.Score {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: space-between;
	align-items: center;
}

.Score > h1 {
	color: #fc4d3c;
	margin: 0;
}
.Scores {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	justify-content: space-between;
}

.ScoreItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 8px;
}

.ScoreItem > h1 {
	margin: 0;
	padding: 0;
}

#X {
	color: #fc4d3c;
}

#O {
	color: #3cebfc;
}

@media screen and (max-width: 768px) {
	.Score {
		margin-top: 16px;
		// background-color: salmon;
	}

	.Score > h1 {
		font-size: 24px;
		margin: 0;
	}
}
