.UndoButton {
	display: flex;
	background-color: #333;
	width: 72px;
	height: 48px;
	justify-content: center;
	align-items: center;
	margin: 8px;
	color: white;
	font-size: 16px;
	font-weight: 300;
	border: none;
	border-radius: 4px;
}
