.Board {
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.Row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Cell {
	background-color: #333;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #666;
}

@media screen and (max-width: 768px) {
	.Cell {
		width: 60px;
		height: 60px;
	}
}
