@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

.Logo {
	background: transparent;
}

.Logo h1 {
	font-family: "Nothing You Could Do", cursive;
	color: #fc4d3c;
	text-shadow: 5px 0px 15px rgba(252, 77, 60, 1);
}
