.App {
  background: black;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Header {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
